/**
Style file for our custom theme project.
*/


/**
Footer Styles
*/
.master-footer {
    padding: 60px 0;
    background: #007b5e !important;
}

.master-footer .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
.master-footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
.master-footer .about{
	padding-left: 10px;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
.master-footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
.master-footer ul.social li{
	padding: 3px 0;
}
.master-footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
.master-footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
.master-footer ul.social li a,
.master-footer ul.quick-links li a{
	color:#ffffff;
}
.master-footer ul.social li a:hover{
	color:#eeeeee;
}
.master-footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
.master-footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
.master-footer ul.quick-links li a i{
	margin-right: 5px;
}
.master-footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	.master-footer h5 {
		padding-left: 0;
		border-left: transparent;
		padding-bottom: 0px;
		margin-bottom: 10px;
	}
}
